@font-face {
  font-family: 'Titles';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'subtitles';
  src: url('../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 300;
  font-style: thin;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 9vh;
}

.nav-right .button {
  font-family: 'subtitles';
  margin: 0 10px;
  padding: 10px 15px;
  color: #F7F2E0;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* Button Hover Styling */
.button:hover {
  transform: scale(1.1);
}

.logo-button {
  background: none;
  border: none;
}

.section-logo {
  width: 1vw;
  height: auto;
}

.logo-button:hover {
  transform: scale(1.1);
}

.nav-events {
  background-color: #cdafaf; /* Example: dark background */
  color: #fff; /* White text for better contrast */
}