/* General Navbar Styling */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 9vh;
  background-color: #412775;
  padding: 0 20px;
}

/* Logo */
.nav-left {
  display: flex;
  align-items: center;
}

/* Navigation Links */
.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}


.logo-button {
  background: none;
  border: none;
  cursor: pointer;
}

.section-logo {
  width: 50px;
  height: auto;
}

.logo-button:hover {
  transform: scale(1.1);
}

/* Buttons */
.button,
.spec-button {
  font-family: "subtitles";
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Button Hover */
.button:hover,
.spec-button:hover {
  transform: scale(1.1);
}

/* Hamburger Menu Button */
.hamburger {
  display: none; /* Default hidden */
  cursor: pointer;
  font-size: 30px;
  background: none;
  border: none;
  color: #f7f2e0;
  z-index: 1001;
}

@media (max-width: 768px) {
  .nav-right {
    visibility: hidden; /* Hide the menu by default */
    opacity: 0; /* Make it invisible */
    height: 0; /* Hide the menu */
    overflow: hidden; /* Prevent it from taking up space */
  }

  .nav-right.menu-open {
    visibility: visible; /* Make the menu visible */
    opacity: 1; /* Make the menu visible */
    height: auto; /* Allow the menu to take its natural height */
    transition: opacity 0.3s ease, visibility 0s 0s, height 0.3s ease; /* Smooth transition */
  }

  /* Menu items arranged in a column */
  .nav-right {
    flex-direction: column;
    background-color: #4e3386;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    top: 9vh; /* Position the menu below the navbar */
    left: 0;
    z-index: 999; /* Ensure it appears above other content */
  }

  .hamburger {
    display: block;
    font-size: 50px;
    padding: 10vw;
  }
}
